		body{
			margin:0;
			padding:0;
		}
		nav{
			background-color: #FFFF66;
			border-bottom: solid #008CFF 10px;
		}
		.menu{
			display: inline-block;
		  list-style-type: none;
		  margin: 0;
		  padding-bottom: 10px;
		  padding-top: 50px;
		  padding-inline-start: 0px;
		}
		.menu a{
			text-decoration: none;
			color:black;
		}
		.menu li{
			padding-bottom:10px;
			padding-top:10px;
			padding-right:20px;
			padding-left:20px;
			background-color: white;
			text-align: center;
			display:inline;
		}
		.active{
			color:white;
			background-color: #008CFF !important;
		}
		.right-box{
			width: 10%;
			height: 10px;
			float:right;
			/*background-color: black;*/
			display:inline-block;
			padding-top: 10px;

		}

		.right-box div{
			display:inline-block;
		}
		#user-name{
			padding-bottom: 20px;
			 vertical-align: middle;
		}
		#user-logo img{
			width: 50px;

		}
		footer{
			background-color: white;
			border-top: solid black 3px;
			position: fixed;
			bottom: 0;
			left:0;
			width: 100%;
		}
		.foot-left{
			width: 20%;
			float:left;
			padding-left: 10px;
		}
		.foot-right{
			padding-right: 10px;
			float:right;
		}